/*
 * Colors
 * Definem a paleta base para utilização via variáveis CSS do Filament/Tailwind.
 */

@theme {
    /* Paleta de cor Primária - Verde Floresta */
    --color-primary-50: #e6f4ed;
    --color-primary-100: #cce9dc;
    --color-primary-200: #99d3b9;
    --color-primary-300: #66bd96;
    --color-primary-400: #33a773;
    --color-primary-500: #014029;
    --color-primary-600: #013322;
    --color-primary-700: #01261a;
    --color-primary-800: #011a11;
    --color-primary-900: #000d09;
    --color-primary-950: #000604;

    /* Paleta de cor Perigo - Vermelho */
    --color-danger-50: #fef2f1;
    --color-danger-100: #fde5e3;
    --color-danger-200: #fbcbc7;
    --color-danger-300: #f8b1ab;
    --color-danger-400: #f6978f;
    --color-danger-500: #d93223;
    --color-danger-600: #ae281c;
    --color-danger-700: #821e15;
    --color-danger-800: #57140e;
    --color-danger-900: #2b0a07;
    --color-danger-950: #160503;

    /* Paleta de cor Aviso - Laranja */
    --color-warning-50: #fef5ed;
    --color-warning-100: #fdebdb;
    --color-warning-200: #fbd7b7;
    --color-warning-300: #f9c393;
    --color-warning-400: #f7af6f;
    --color-warning-500: #f28907;
    --color-warning-600: #c26e06;
    --color-warning-700: #915204;
    --color-warning-800: #613703;
    --color-warning-900: #301b01;
    --color-warning-950: #180e01;

    /* Paleta de cor Info - Azul */
    --color-info-50: #eff6ff;
    --color-info-100: #dbeafe;
    --color-info-200: #bfdbfe;
    --color-info-300: #93c5fd;
    --color-info-400: #60a5fa;
    --color-info-500: #3b82f6;
    --color-info-600: #2563eb;
    --color-info-700: #1d4ed8;
    --color-info-800: #1e40af;
    --color-info-900: #1e3a8a;
    --color-info-950: #172554;

    /* Paleta de cor Secundária - Cinza (Zinc) */
    --color-secondary-50: #fafafa;
    --color-secondary-100: #f4f4f5;
    --color-secondary-200: #e4e4e7;
    --color-secondary-300: #d4d4d8;
    --color-secondary-400: #a1a1aa;
    --color-secondary-500: #71717a;
    --color-secondary-600: #52525b;
    --color-secondary-700: #3f3f46;
    --color-secondary-800: #27272a;
    --color-secondary-900: #18181b;
    --color-secondary-950: #09090b;
}
