/*
 * Sidebar
 */

.fi-sidebar {
    @apply border-r border-gray-200 dark:border-gray-900;
}

/* Forçar a visibilidade do logo quando a topbar está desabilitada */
.fi-sidebar-header-logo-ctn {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Centralizar o conteúdo do cabeçalho */
.fi-sidebar-header {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
}

/* Item ativo da sidebar com fundo primário */
.fi-sidebar-item.fi-active .fi-sidebar-item-btn {
    background-color: var(--color-primary-600) !important;
}

/* Texto branco e ícone para item ativo da sidebar */
.fi-sidebar-item.fi-active .fi-sidebar-item-btn .fi-sidebar-item-icon,
.fi-sidebar-item.fi-active .fi-sidebar-item-btn .fi-sidebar-item-label {
    color: white !important;
}
